body,
html {
  height: 100%;
  font-family: "Cormorant; Georgia";
  line-height: 1.8em;
  margin: 0;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
  display: none;
  /*for Safari and Chrome*/
}

/*styling for navigation bar.ul*/

#nav {
  overflow: hidden;
  background-color: #031136;
  position: fixed;
  /* Set the navbar to fixed position */
  right: 0;
  left: 0;
  z-index: 1;
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
  text-align: end;
  -webkit-box-shadow: 0 3px 6px 6px gray;
  -moz-box-shadow: 0 3px 6px 6px gray;
  box-shadow: 0 3px 6px 6px gray;
}

.mediaicons {
  float: left;
  padding-top: 0.75em;
  display: block;
  padding-left: 0.75em;
}

.navtext {
  float: right;
  display: block;
  font-size: xx-large;
  font-family: "Cormorant";
  font-weight: 600;
}

.navtext ul {
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000e30;
}

.navtext li {
  float: left;
}

.navtext li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: large;
  letter-spacing: 2px;
}

/* Change the link color to #111 (black) on hover */
.navtext li a:hover {
  background-color: #c0c0c0;
}

/*styling for parallax effect*/

.pimg1,
.pimg2,
.pimg3 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /*this is really what gives it a parallax effect, you will scroll if you want to turn it off*/
  background-attachment: fixed;
}

.pimg1 {
  background-image: url("../images/lakeimage.jpeg");
  min-height: 100%;
  opacity: 0.7;
}

.pimg2 {
  background-image: url("../images/blacknwhitecopy.jpg");
  min-height: 100%;
  padding-top: 5em;
}

.pimg3 {
  background-image: url("../images/beachgrass.jpg");
  min-height: 100%;
}

.section {
  text-align: center;
  padding: 1em 8em;
}

.section-light {
  background-color: whitesmoke;
  color: #666;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}

.ptext {
  position: absolute;
  top: 45%;
  width: 100%;
  text-align: center;
  font-size: 3em;
  letter-spacing: 0.3em;
  font-weight: 900;
  font-family: "Great Vibes";
}

.title {
  color: #000e30;
  top: 30%;
  font-family: "Serif";
  text-transform: uppercase;
}

/*button styling*/
div button {
  position: absolute;
  right: 3%;
  bottom: 2%;
  background: transparent;
  display: block;
  cursor: pointer;
}

#myBtn:hover {
  background-color: #555;
  /* Add a dark-grey background on hover */
}

/*styling for form*/
input[type="text"],
textarea {
  width: 75%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 20px;
  resize: vertical;
}

.container2 {
  border-radius: 10px;
  background-color: #c8dbea;
  padding: 5px;
  color: black;
  width: 50%;
}

textarea {
  margin-left: 1%;
}

.messagestyle * {
  vertical-align: middle;
}

.copyright {
  position: absolute;
  top: 95%;
  right: 8%;
  width: 100%;
  text-align: right;
  font-size: x-small;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "cormorant";
}


/*styles for the icons in the nav element*/

.fa-wrench:before {
  content: "\f0ad";
  background: #8be9fc;
  /*BLUE*/
  padding: 7px;
  border-radius: 4px;
}

.fa-code:before {
  content: "\f121";
  background: #74f27c;
  /*GREEN*/
  padding: 5px;
  border-radius: 4px;
}

.fa-stack-overflow:before {
  content: "\f16c";
  background: #f7b76b;
  /*ORANGE*/
  padding: 9px;
  border-radius: 4px;
}

.fa-chart-line:before {
  content: "\f201";
  background: #ed76c5;
  /*PINK*/
  padding: 7px;
  border-radius: 4px;
}

.fa-pencil-alt:before {
  content: "\f303";
  background: #bd93f9;
  /*PURPLE*/
  padding: 7px;
  border-radius: 4px;
}

.fa-lightbulb:before {
  content: "\f0eb";
  background: #f8f8f2;
  /*WHITE*/
  padding: 9px;
  border-radius: 4px;
}

.fa-lock:before {
  content: "\f023";
  color: white;
}

.fa-question:before {
  content: "\f128";
  background: #e6db74;
  /*YELLOW*/
  padding: 8px;
  border-radius: 4px;
}

.fb-background {
  color: #3b5997;
}

.lk-background {
  color: lightslategray;
}

.tw-background {
  /*color: #33CCFF; */
  color: lightslategray;
}

.rd-background {
  color: lightslategray;
}

.qu-background {
  color: #f7b76b;
}

.about {
  padding-left: 1.25em;
  color: black;
  display: inline-block;
  background-color: whitesmoke;
  margin-top: 2.5em;
  margin-left: 5em;
  padding-right: 1em;
  padding-top: 0.5em;
  font-family: "Cormorant";
  opacity: 0.7;
  transition-timing-function: ease;
  border-radius: 10px 40px;
  font-weight: 600;
  font-size: 2em;
}

.image-size {
  height: 100%;
  width: 100%;
  box-shadow: 5px 5px 5px #aaaaaa;
}

#projects {
  padding-bottom: 5em;
  font-family: "Cormorant";
  margin-right: 1.5em;
  margin-left: 1.5em;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.column {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 3%;
  width: 50%;
}

.column img {
  max-width: 100%;
  height: auto;
}

.project-image {
  text-align: right;
}

.project-descrip {
  text-align: center;
  display: inline-block;
}

.project-descrip p {
  padding: 1em;
  text-align: left;
}

.projecth1 {
  padding-bottom: 4%;
  padding-top: 5%;
  text-align: center;
  font-size: -webkit-xxx-large;
}

.project-title {
  font-weight: 600;
  font-size: 1.25em;
}

.techstack {
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  text-align: center;
}

.techstack li {
  float: left;
  padding-right: 1.5em;
}

.slanted {
  height: 500px;
  -webkit-transform: skewy(-3deg);
  transform: skewy(-3deg);
}

.cta-btn {
  display: inline-block;
  position: relative;
  padding: 0.8rem 1.6rem;
  font-weight: 700;
  line-height: 1;
  z-index: 1;
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  font-size: 0.7em;
  text-transform: uppercase;
  color: black;
  border: 2px solid #fff;
}





/*media queries*/

/*this helps columns be responsive when viewport is smaller*/
@media screen and (max-width: 450px) {
  .column {
    width: 100%;
    margin: 0;
  }

  .ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    letter-spacing: 4px;

    font-size: x-large;
  }

  .section {
    text-align: left;
    padding-top: 6em;
  }

  .section {
    padding: 0;
  }

  .row {
    display: flex;
    flex-direction: column;
  }
}


@media (max-width: 568px) {

  .pimg1,
  .pimg2,
  .pimg3 {
    background-attachment: scroll;
  }
}